<%= render 'spree/admin/volume_prices/table', f: f %>

<span id="new_add_volume_price" data-hook>
  <%= link_to t(:add_volume_price, scope: :spree), 'javascript:;', {
    data: { target: 'tbody#volume_prices' },
    class: 'btn btn-primary spree_add_fields',
    id: 'add_volume_price'
  } %>
</span>
